<html lang="pt">

<%- include header %>

<div class="container height-4">
    <div class="col-md-12 inline">Selecione o Projeto:

        <div class="col-md-4">
            <select name="idProjeto" class="form-control">
                <option value="">Selecione</option>
                <% 
                    for(var i = 0; i < select.length; i++) { 
                        let selected = ( select.idProjeto == select[i].idProjeto ) ? "selected" : "";
                    %>
                <option value="<%=select[i].idProjeto%>" <%=selected %> >
                    <%=select[i].nome%>
                </option>
                <% } %>
            </select>
        </div>

    </div>

</div>

<%- include footer %>