<html lang="pt">

<%- include header %>

    <div class="container height-2">

        <div>
            <p class="title titleIntegrar">Integrar Projeto</p>
        </div>

        <form action="/integrarProjeto" method="GET">

            <div class="col-md-6 height-2">
                <span>Selecione o Projeto:</span>
                <select name="idProjeto" class="form-control">
                    <option value="">Selecione</option>
                    <% 
                            for(var i = 0; i < select.length; i++) { 
                                let selected = ( select.idProjeto == select[i].idProjeto ) ? "selected" : "";
                            %>
                        <option value="<%=select[i].idProjeto%>" <%=selected %> >
                            <%=select[i].nome%>
                        </option>
                        <% } %>
                </select>
            </div>

            <div class="col-md-2 height-4">
                <button class="btn btn-light">Exibir</button>
            </div>
        </form>
    </div>

    <% if (dados) { %>

    <div class="container height-2">
        <!-- Mostrar quadro com os recursos do projeto -->

        <div id="quadroRecursos">
            <table>
                <thead>
                    <th>idProjeto</th>
                </thead>
                <tbody>
                    <% if (dados) { %>
                        <% for(var i=0; i < dados.length; i++) { %>
                        <tr>
                            <td>
                                <%= dados[i].idProjeto %>
                            </td>                                
                        </tr>
                        <% } %>
                    <% } %>
                </tbody>
                
            </table>
        </div>
    
    <% } %>

        <!-- Fim do quadro de recursos -->
    </div>


    <%- include footer %>