<html lang="pt">

<%- include header %>

<div class="container height-2">
    <div class="row">

        <div class="divListar">Recursos</div>

        <table class="table table-sm">
            <thead class="size-14">
                <tr>
                    <th scope="col">Num. Recurso</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Modo de Cobrança</th>                    
                    <th scope="col" id="thActions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].idRecurso %>
                    </td>
                    <td>
                        <%= data[i].nome %>
                    </td>
                    <td>
                        <div><%= data[i].valor %></div> 
                    </td>
                    <td>
                        <%= data[i].tipoCobranca %>
                    </td>                    
                    <td class="actions center">
                        <div class="options">
                            <ul>
                                <li>
                                    <a href="#" class="linkOptionRec">
                                        <img class="iconActions" src="../img/actions.png" alt="">
                                    </a>
                                    <ul>
                                        <div class="inline div-actions">
                                            <li class="li-div-actions">
                                                <a href="/cadastrarRecurso?idRecurso=<%= data[i].idRecurso %>">
                                                    <img src="../img/edit.png" alt="Editar" title="Editar Recurso">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/excluirRecurso?idRecurso=<%= data[i].idRecurso %>" onclick="updateConfirm();" >
                                                    <img src="../img/delete.png" alt="Delete" title="Deletar Recurso">
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                       
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include footer %>