<html lang="pt">

<%- include header %>

<div class="container">

        <div id="newRecursobox" style=" margin-top:50px" class="mainbox col-md-6 col-sm-6 col-md-offset-3">
        
            <div class="panel panel-light">
                <div class="panel-heading">
                    <div class="panel-title text-center tituloPainel">Adicionar Recurso</div>
                </div>
                <div class="panel-body padding-5">
    
                    <%if(message == 'T') {%>
                    <div class="card-panel red lighten-3 center red">
                        Dados gravados com sucesso!
                    </div>
                    <% } %>
                    <%if(message == 'F') {%>
                    <div class="card-panel red lighten-1 center">
                        <span>Você deve preencher todos os campos!</b>
                    </div>
                    <% } %>
                    
                    <form class="form-horizontal" role="form" method="post" action="/addRecProj" onSubmit="return checkblank(this);">
                       
                        <div class="form-group">
                            <span>Selecione o Projeto:</span>
                            <select name="idProjeto" class="form-control">
                                <option value="">Selecione</option>
                                <% 
                                        for(var i = 0; i < selectProjeto.length; i++) { 
                                            let selected = ( dados.idProjeto == selectProjeto[i].idProjeto ) ? "selected" : "";
                                        %>
                                <option value="<%=selectProjeto[i].idProjeto%>" <%=selected %> >
                                    <%=selectProjeto[i].nome%>
                                </option>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-group">
                            <span>Selecione um Recurso:</span>
                            <select name="idRecurso" class="form-control">
                                <option value="">Selecione</option>
                                <% 
                                    for(var i = 0; i < selectRecurso.length; i++) { 
                                        let selected = ( dados.idRecurso == selectRecurso[i].idRecurso ) ? "selected" : "";
                                    %>
                                <option value="<%=selectRecurso[i].idRecurso%>" <%=selected %> >
                                    <%=selectRecurso[i].nome%>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="qtdeRecurso" class="col-md-3 control-label">Quantidade</label>
                            <div class="col-md-5">                           
                                <input type="text" class="form-control data" id="qtdeRecurso" name="qtdeRecurso" value="<%= dados.qtdeRecurso %>" placeholder="Quantidade">
                            </div>
                        </div>                                           
    
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-recurso" type="submit" class="btn btn-light btn-width52">Adicionar</button>
                            </div>
                        </div>
    
                        <input type="text" class="form-control disabled" name="idUsuario" value="<%=user%>">
    
                    </form>
                </div>
            </div>
    
        </div>
    </div>

<%- include footer %>