<html lang="pt">

<%- include header %>

<div class="container">

    <div id="recursobox" style=" margin-top:50px" class="mainbox col-md-10 col-sm-10 col-md-offset-1">


        <div class="panel panel-light">
            <div class="panel-heading">
                <div class="panel-title text-center tituloPainel">Novo Recurso</div>
            </div>
            <div class="panel-body">

                <%if(message == 'T') {%>
                <div class="card-panel red center">
                        Dados gravados com sucesso!                    
                </div>
                <% } %>
                <%if(message == 'F') {%>
                <div class="card-panel red center">
                    <span>Você deve preencher todos os campos!</b>
                </div>
                <% } %>

                <form class="form-horizontal" role="form" method="post" action="/gravarRecurso" onSubmit="return checkblank(this);">
                    <input type="hidden" name="idRecurso" value="<%=dados.idRecurso%>">
                    <div class="form-group">
                        <label for="nome" class="col-md-3 control-label">Nome</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="<%=dados.nome%>" name="nome" placeholder="Nome do Recurso">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="valor" class="col-md-3 control-label">Valor</label>
                        <div class="col-md-3">
                            <input type="text" id="valor" value="<%=dados.valor%>" class="form-control" name="valor" placeholder="Valor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="horas_previstas" value="<%=dados.tipoCobranca%>" class="col-md-3 control-label">Tipo de Cobrança</label>
                        <div class="col-md-3">
                            <select name="tipoCobranca" id="status" class="select">
                                <option value="Dia">Dia</option>
                                <option value="Hora">Hora</option>                                
                                <option value="Mensal">Mensal</option>    
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-Recurso" type="submit" class="btn btn-light">
                                <i class="icon-hand-right"></i>
                                Salvar</button>
                        </div>
                    </div>

                    <input type="text" class="form-control disabled" name="idUsuario" value="<%=user%>">

                </form>
            </div>
        </div>

    </div>
</div>

<%- include footer %>